hostname="{{ hostname }}"
keymap="us.iso.acc"

# Enable 'securelevel' kernel security / See init(8)
kern_securelevel_enable="YES"
kern_securelevel="3"

# sshd
sshd_enable="YES"

# ntpd
ntpd_enable="NO"

# sendmail
# sendmail_enable="NONE"
sendmail_enable="NO"
sendmail_submit_enable="NO"
sendmail_outbound_enable="NO"
sendmail_msp_queue_enable="NO"

# rpc
rpcbind_enable="NO"

# tmp
clear_tmp_enable="YES"

# syslog
syslogd_flags="-ss"

# Prevent lots of jails running cron jobs at the same time
cron_flags="$cron_flags -J 15"
{% for service in services %}

# {{ service }}
{{ service }}_enable="YES"
{% endfor %}