# BASE SYSTEM #
###############

hostname="{{ hostname }}"
keymap="{{ keymap }}"

# Enable 'securelevel' kernel security / See init(8)
kern_securelevel_enable="YES"
kern_securelevel="{{ kern_securelevel }}"
{% if has_zfs %}

# zfs
zfs_enable="YES"
{% endif %}

# Set dumpdev to "AUTO" to enable crash dumps, "NO" to disable
dumpdev="NO"

# FSCK Enhancements
fsck_y_enable="YES"

# tmp
clear_tmp_enable="YES"
{% if has_linuxulator %}

linux_enable="YES"
{% endif %}
{% if is_first_class_host %}

# NETWORK #
###########

{% if has_jails %}
cloned_interfaces="${cloned_interfaces} {{ jails_if }}"
{% endif %}
{% if has_ipv6 %}
ipv6_activate_all_interfaces="YES"
ipv6_default_interface="{{ ipv6.interface }}"
ip6addrctl_enable="YES"
ip6addrctl_policy="ipv4_prefer"
{% endif %}

# IPv4
ifconfig_{{ ipv4.interface }}_ipv4="inet {{ ipv4.address }} netmask {{ ipv4.netmask }}"
defaultrouter="{{ ipv4.gateway }}"
{% if has_ipv6 %}

# IPv6
ifconfig_{{ ipv6.interface }}_ipv6="inet6 {{ ipv6.address }} prefixlen {{ ipv6.prefixlen }}"
ipv6_defaultrouter="{{ ipv6.gateway }}"
{% endif %}
{% endif %}
{% if has_sshd %}


# SERVICES #
############

# sshd
sshd_enable="YES"
{% endif %}
{% if has_pf %}

# pf
pf_enable="YES"
{% if pflog_enable %}
pflog_enable="YES"
{% endif %}{% endif %}

# sendmail
# sendmail_enable="NONE"
sendmail_enable="NO"
sendmail_submit_enable="NO"
sendmail_outbound_enable="NO"
sendmail_msp_queue_enable="NO"

# syslog
syslogd_flags="{{ syslogd_flags }}"
{% if is_jail %}

# Prevent lots of jails running cron jobs at the same time
cron_flags="$cron_flags -J 15"
{% endif %}
{% if is_jail %}

# rpc
rpcbind_enable="NO"
{% endif %}
{% if has_ezjail %}

# ezjail
ezjail_enable="YES"
{% endif %}
{% if has_openntpd %}

# ntpd
ntpd_enable="NO"

# openntpd
openntpd_enable="YES"
openntpd_flags="{{ openntpd_flags }}"
{% endif %}
{% if has_smartd %}

# S.M.A.R.T. monitoring (sysutils/smartmontools)
smartd_enable="YES"
{% endif %}
{% if has_sshguard %}

# sshguard
sshguard_enable="{{ 'YES' if sshguard_enable else 'NO' }}"
sshguard_safety_thresh="{{ sshguard_safety_thresh }}"
sshguard_pardon_min_interval="{{ sshguard_pardon_min_interval }}"
sshguard_prescribe_interval="{{ sshguard_prescribe_interval }}"
{% endif %}
{% if has_bsdstats %}

bsdstats_enable="YES"
{% endif %}
