# BASE SYSTEM #
###############

hostname="{{ hostname }}"
keymap="{{ keymap }}"

# Enable 'securelevel' kernel security / See init(8)
kern_securelevel_enable="YES"
kern_securelevel="{{ kern_securelevel }}"
{% if has_zfs %}

# zfs
zfs_enable="YES"
{% endif %}

# Set dumpdev to "AUTO" to enable crash dumps, "NO" to disable
dumpdev="NO"

# FSCK Enhancements
fsck_y_enable="YES"

# tmp
clear_tmp_enable="YES"
{% if has_linuxulator %}

linux_enable="YES"
{% endif %}
{% if is_first_class_host %}

# NETWORK #
###########

{% if provides_jail_host and has_jails %}
cloned_interfaces="${cloned_interfaces} {{ jails_if }}"
{% endif %}
{% if if_dhcp %}

# DHCP
ifconfig_{{ ipv4.interface }}="DHCP"
{% else %}

# IPv4
ifconfig_{{ ipv4.interface }}="inet {{ ipv4.address }} netmask {{ ipv4.netmask }}"
defaultrouter="{{ ipv4.gateway }}"
{% endif %}
{% if has_ipv6 %}

# Enable IPV6 support
ipv6_activate_all_interfaces="YES"
ipv6_default_interface="{{ ipv6.interface }}"
ip6addrctl_enable="YES"
ip6addrctl_policy="ipv4_prefer"

# IPv6
ifconfig_{{ ipv6.interface }}_ipv6="inet6 {{ ipv6.address }} prefixlen {{ ipv6.netmask }}"
ipv6_defaultrouter="{{ ipv6.gateway }}"
{% endif %}
{% endif %}


# SERVICES #
############
{% if has_sshd %}

# sshd
sshd_enable="YES"
{% endif %}
{% if has_pf %}

# pf
pf_enable="YES"
{% if pflog_enable %}
pflog_enable="YES"
{% endif %}{% endif %}

# sendmail
# sendmail_enable="NONE"
sendmail_enable="NO"
sendmail_submit_enable="NO"
sendmail_outbound_enable="NO"
sendmail_msp_queue_enable="NO"

# syslog
syslogd_flags="{{ syslogd_flags }}"
{% if is_jail %}

# Prevent lots of jails running cron jobs at the same time
cron_flags="$cron_flags -J 15"
{% endif %}
{% if is_jail %}

# rpc
rpcbind_enable="NO"
{% endif %}
{% if has_ezjail %}

# ezjail
ezjail_enable="YES"
{% endif %}
{% if has_openntpd %}

# ntpd
ntpd_enable="NO"

# openntpd
openntpd_enable="YES"
openntpd_flags="{{ openntpd_flags }}"
{% endif %}
{% if has_smartd %}

# S.M.A.R.T. monitoring (sysutils/smartmontools)
smartd_enable="YES"
{% endif %}
{% if has_sshguard %}

# sshguard
sshguard_enable="{{ 'YES' if sshguard_enable else 'NO' }}"
sshguard_safety_thresh="{{ sshguard_safety_thresh }}"
sshguard_pardon_min_interval="{{ sshguard_pardon_min_interval }}"
sshguard_prescribe_interval="{{ sshguard_prescribe_interval }}"
{% endif %}
{% if has_bsdstats %}

# bsdstats
bsdstats_enable="YES"
{% endif %}
{% if has_nginx or has_nginx_proxy %}

# nginx
nginx_enable="YES"
{% endif %}
{% if has_iredmail %}

# crude iredmail config, will be refined later
nginx_enable="YES"
php_fpm_enable="YES"
uwsgi_enable="YES"
uwsgi_profiles="iredadmin"
uwsgi_iredadmin_flags="--ini /usr/local/etc/uwsgi/iredadmin.ini"
slapd_enable="YES"
slapd_flags="-h 'ldapi://%2fvar%2frun%2fopenldap%2fldapi/ ldap://0.0.0.0/ ldaps://0.0.0.0/'"
slapd_sockets="/var/run/openldap/ldapi"
mysql_enable="YES"
mysql_optfile="/usr/local/etc/my.cnf"
postfix_enable="YES"
daily_clean_hoststat_enable="NO"
daily_status_mail_rejects_enable="NO"
daily_status_include_submit_mailq="NO"
daily_submit_queuerun="NO"
dovecot_enable="YES"
clamav_clamd_enable="YES"
clamav_freshclam_enable="YES"
amavisd_enable="YES"
amavisd_pidfile="/var/amavis/amavisd.pid"
amavis_milter_enable="NO"
amavis_p0fanalyzer_enable="NO"
iredapd_enable="YES"
memcached_enable="YES"
sogod_enable="YES"
{% endif %}
