{% for jail in jails %}
rdr pass on $ext_if  inet proto {tcp udp} to ($ext_if)  port {{ hostvars[jail].ansible_ssh_port }} -> {{ '%-10s'|format(hostvars[jail].ext_if.ipv4s.0.address) }}      port {{ hostvars[jail].ansible_ssh_port }}
{% endfor %}