hostname="{{ hostname }}"
keymap="us.iso.acc"

# sshd
sshd_enable="YES"

# ntpd
ntpd_enable="NO"

# sendmail
sendmail_enable="NO"
sendmail_submit_enable="NO"
sendmail_outbound_enable="NO"
sendmail_msp_queue_enable="NO"
