#       $FreeBSD: release/9.0.0/share/examples/pf/pf.conf 218854 2011-02-19 14:57:00Z brucec $
#       $OpenBSD: pf.conf,v 1.34 2007/02/24 19:30:59 millert Exp $
#
# See pf.conf(5) and /usr/share/examples/pf for syntax and examples.
# Remember to set net.inet.ip.forwarding=1 and/or net.inet6.ip6.forwarding=1
# in /etc/sysctl.conf if packets are to be forwarded between interfaces.
#
# Required order: options, normalization, queueing, translation, filtering.
# Note: translation rules are first match while filter rules are last match.


################ Macros ###################################

  ### Interfaces ###
    ext_if              = "{{ ipv4.interface }}"
    lo_if               = "{{ loopback_if }}"
    jails_if            = "{{ jails_if }}"
    unfiltered          = "{" $lo_if "}"

  ### Host classes ###
    jailnet             = "{" $jails_if:network "}"

  ### Hosts ###
    host_ipv4           = "{{ ipv4.address }}"
    host_ipv6           = "{{ ipv6.address }}"

  ### Ports ###
    ssh                 = "22"
    http                = "{ 80 443 }"
    ntp                 = "{ 123 }"
    whois               = "43"
    dns                 = "{ 53 5353 }"
    dhcp                = "{ 67 68 }"
    nfs                 = "{ 111 2049 775 776 777 }"
    samba_udp           = "{ 137 138 }"
    samba_tcp           = "{ 139 445 }"
    mysql               = "3306"
    postgresql          = "5432"
    multicast_dns       = "5353"
    # npp               = "4045"
    github              = "9418"
    services_tcp        = "{ ssh, submission, domain, auth, www, pop3, > 1024 }"
    services_tcp        = "{ ssh, submission, domain, auth }"


################ Tables ###################################

  table <sshguard> persist


################ Options ##################################

  ### Misc options ###
    set debug urgent                  # debug messages generated for serious errors
    set require-order yes             # Enable order-checking in this ruleset
    set block-policy drop             # Blocked packets are silently dropped
    set loginterface $ext_if          # Log this interface (if using pflog)
    # When set to if-bound, unbound ICMP packets requesting packet fragmentation are lost (internal mail)
    # set state-policy if-bound
    set state-policy floating
    set fingerprints "/etc/pf.os"     # Fingerprints file for passive operating system fingerprinting set
    set ruleset-optimization basic
    set skip on $unfiltered


  ### Timeout Options ###
    set optimization normal
    # set timeout { tcp.established 360, tcp.closing 60 }


################ Normalization #############################

  # Scrub (normalize) incoming packets
  scrub in  on $ext_if all           fragment reassemble
  scrub out on $ext_if all random-id fragment reassemble


################ Translation ###############################

  no nat on $unfiltered from any to any
  no rdr on $unfiltered from any to any

  # Allows nat to specified addresses
  nat on $ext_if from $jailnet to any      -> $host_ipv4

  # redirects ssh to jails
  include "/etc/pf/ssh.rdr.conf"


################ Filtering #################################

  antispoof quick for $lo_if

  block in quick proto tcp from <sshguard> to any port $ssh label "ssh bruteforce"

  # block all incoming packets but allow ssh, pass all outgoing tcp and udp
  # connections and keep state, logging blocked packets.
  block in log all

  # nmap
  block in log quick on $ext_if inet proto tcp from any to any flags FUP/FUP

  # icmp, ping etc
  pass in on $ext_if proto icmp all
  pass in on $ext_if proto icmp6 all

  pass in on $ext_if proto tcp from any to any port $ssh

  # allow anything outbound
  pass out on $ext_if proto { tcp, udp, icmp } all keep state

  # allow anything on loopback interface
  pass on $lo_if all
