#{{ ansible_managed }}

user www  www;
worker_processes auto;

pid /var/run/nginx.pid;

worker_rlimit_nofile 1024;

events {
    worker_connections  1024;
}


http {
    # Base
    #######
    include       /usr/local/etc/nginx/mime.types;
    default_type  application/octet-stream;

    sendfile        on;
    tcp_nopush      on;
    tcp_nodelay     on;

    keepalive_timeout  60;

    server_names_hash_max_size     512;
    server_names_hash_bucket_size   32;
    types_hash_max_size           2048;
    client_max_body_size          200m;

    # Logs
    #######
    log_format  main  '$remote_addr - $remote_user [$time_local] "$request" '
                      '$status $body_bytes_sent "$http_referer" '
                      '"$http_user_agent" "$http_x_forwarded_for"';
    log_format  upstream  '$remote_addr - $remote_user [$time_local] - $server_name '
                          '$status to: $upstream_addr: $request upstream_response_time '
                          '$upstream_response_time msec $msec request_time $request_time';
    access_log /var/log/nginx/access.log upstream;
    error_log /var/log/nginx/error.log;

    # Gzip
    #######
    gzip on;
    gzip_disable "msie6";
    gzip_vary on;
    gzip_proxied any;
    gzip_comp_level 6;
    gzip_buffers 16 8k;
    gzip_http_version 1.1;
    gzip_types text/plain text/css application/json application/x-javascript text/xml application/xml application/xml+rss text/javascript;

    # Sites
    ########
    include /usr/local/etc/nginx/sites-enabled/*;
}
