#{{ ansible_managed }}
user {{ nginx_user }}  {{ nginx_group }};

worker_processes {{ nginx_worker_processes }};

{% if nginx_pid_file %}
pid {{ nginx_pid_file }};
{% endif %}

worker_rlimit_nofile {{ nginx_worker_rlimit_nofile }};

events {
{% for v in nginx_events_params %}
    {{ v }};
{% endfor %}
}


http {
    # Base
    #######
    include       {{ nginx_conf_dir }}/mime.types;
    default_type  application/octet-stream;

{% for v in nginx_http_params %}
{% if v == 'logs' %}

    # Logs
    #######
{% elif v == 'gzip' %}

    # Gzip
    #######
{% elif v == 'log_formats' %}
{% for l, def in log_formats.iteritems() %}
    log_format  {{ l }}  '{{ "'\n                      '".join(def) }}';
{% endfor %}
{% elif v %}
    {{ v }};
{% else %}

{% endif %}
{% endfor %}

    # Sites
    ########
    include {{ nginx_conf_dir }}/sites-enabled/*;
}

{% if nginx_daemon_mode == "off" %}
daemon off;
{% endif %}
