
user www www;
worker_processes  {{ nginx_http_config_worker_processes }};

pid /var/run/nginx.pid;

worker_rlimit_nofile  {{ nginx_http_config_worker_rlimit_nofile }};

events {
    worker_connections  {{ nginx_http_config_worker_connections }};
}

http {
    # Base
    #######
    include       /usr/local/etc/nginx/mime.types;
    default_type  application/octet-stream;

    sendfile        {{ nginx_http_config_sendfile }};
    tcp_nopush      {{ nginx_http_config_tcp_nopush }};
    tcp_nodelay     {{ nginx_http_config_tcp_nodelay }};

    keepalive_timeout  {{ nginx_http_config_keepalive_timeout }};

    server_names_hash_max_size     {{ nginx_http_config_server_names_hash_max_size }};
    server_names_hash_bucket_size  {{ nginx_http_config_server_names_hash_bucket_size }};
    types_hash_max_size            {{ nginx_http_config_types_hash_max_size }};
    client_max_body_size           {{ nginx_http_config_client_max_body_size }};

    # hide Nginx version number
    server_tokens  {{ nginx_http_config_server_tokens }};

    # Logs
    #######
{% if nginx_http_config_log_formats is defined %}
{% for log_format in nginx_http_config_log_formats %}
    log_format  {{ '%-8s'|format(log_format.name) }}  {{ log_format.definition }};

{% endfor %}
{% endif %}
{% if nginx_http_config_logs is defined %}
{% for log in nginx_http_config_logs %}
    {{ '%-10s'|format(log.type) }}  {{ log.path }}/{{ log.filename }}{% if 'format' in log %} {{ log.format }}{% endif %};
{% endfor %}
{% endif %}

    # Gzip
    #######
{% if provides_reverse_proxy %}
    gzip               {{ nginx_http_config_gzip }};
    gzip_disable       {{ nginx_http_config_gzip_disable }};
    gzip_vary          {{ nginx_http_config_gzip_vary }};
    gzip_proxied       {{ nginx_http_config_gzip_proxied }};
    gzip_comp_level    {{ nginx_http_config_gzip_comp_level }};
    gzip_buffers       {{ nginx_http_config_gzip_buffers }};
    gzip_http_version  {{ nginx_http_config_gzip_http_version }};
    gzip_types         {{ nginx_http_config_gzip_types }};
{% else %}
    gzip  off;
{% endif %}

    # Sites
    ########
    include /usr/local/etc/nginx/sites-enabled/*.conf;
}
