upstream {{ item.name }}_backend {
    # server       unix:/var/run/nginx/{{ item.name }}/nginx.sock;
    server       {{ item.ipv4 }};
    keepalive 60;
}

server {
    listen       localhost:80;
    server_name  {{ item.fqdns }};

    location / {
        return 301 https://$host$request_uri;
    }

    location '/.well-known/acme-challenge' {
         proxy_set_header   X-Real-IP $remote_addr;
         proxy_set_header   X-Forwarded-For $proxy_add_x_forwarded_for;
         proxy_set_header   Host $http_host;
         proxy_set_header   X-NginX-Proxy true;
         proxy_pass         http://letsencrypt_backend;
         proxy_http_version 1.1;
         proxy_set_header   Connection "";
    }
}

server {
    listen       localhost:443 ssl;
    server_name  {{ item.fqdns }};

    ssl_certificate          /etc/ssl/{{ item.jail_name }}/certs/fullchain.pem;
    ssl_certificate_key      /etc/ssl/{{ item.jail_name }}/private/privkey.pem;
    ssl_session_timeout      5m;
    ssl_session_cache        shared:SSL:50m;

    # modern configuration. tweak to your needs.
    ssl_protocols TLSv1.1 TLSv1.2;
    ssl_ciphers 'EECDH+AESGCM:EDH+AESGCM:AES256+EECDH:AES256+EDH:!aNULL:!eNULL:!EXPORT:!DES:!RC4:!MD5:!PSK:!aECDH:!EDH-DSS-DES-CBC3-SHA:!EDH-RSA-DES-CBC3-SHA:!KRB5-DES-CBC3-SHA:!SSLv2:!MD5';
    ssl_prefer_server_ciphers on;

    # OCSP Stapling ---
    # fetch OCSP records from URL in ssl_certificate and cache them
    ssl_stapling             on;
    ssl_stapling_verify      on;
    ssl_trusted_certificate  /etc/ssl/{{ item.jail_name }}/certs/fullchain.pem;
    resolver                 8.8.8.8 valid=300s;
    resolver_timeout         10s;
 
    # Diffie-Hellman parameter for DHE ciphersuites, recommended 2048 bits
    ssl_dhparam /etc/ssl/certs/dhparam.pem;

    # HSTS (ngx_http_headers_module is required) (15768000 seconds = 6 months)
    add_header Strict-Transport-Security "max-age=63072000; includeSubdomains; preload";
{% if item.deny_iframe %}
    add_header X-Frame-Options DENY;
{% endif %}
    add_header X-Content-Type-Options nosniff;

    location / {
         proxy_set_header   X-Real-IP $remote_addr;
         proxy_set_header   X-Forwarded-For $proxy_add_x_forwarded_for;
         proxy_set_header   Host $http_host;
         proxy_set_header   X-NginX-Proxy true;
         proxy_pass         http://{{ item.name }}_backend;
         proxy_http_version 1.1;
         proxy_set_header   Connection "";
    }
}
