{% if 'upstreams' in item %}
{% for upstream in item.upstreams %}
upstream {{ upstream.name }} {
{% if 'servers' in upstream %}
{% for server in upstream.servers %}
    server     {{ server }};
{% endfor %}
{% endif %}
{% if 'keepalive' in upstream %}
    keepalive  {{ upstream.keepalive }};
{% endif %}
}

{% endfor %}
{% endif %}
server {
{% if item.listen_to == 'tcp/ip' %}
    listen       localhost:80;
{% elif item.listen_to == 'unix_socket' %}
    listen       unix:/var/run/nginx/{{ item.jail_name }}/nginx.sock;
{% endif %}
    server_name  {{ item.server_name__served }};
{% if 'root' in item %}
    root         {{ item.root }};
{% endif %}
{% if 'index' in item %}
    index        {{ item.index }};
{% endif %}
{% if 'autoindex' in item %}
    autoindex    {{ item.autoindex }};
{% endif %}
{% if 'max_upload_size' in item %}

    client_max_body_size  {{ item.max_upload_size }};
{% endif %}
{% if 'locations' in item %}
{% for location in item.locations %}

    location {{ location.base }} {
{% for conf in location.confs %}
{% if conf[0] == 'location' %}
        {{ conf[0] }} {{ conf[1] }}
{% else %}
        {{ conf[0] }}{% if conf|length > 1 %}  {{ conf[1] }}{% endif %};
{% endif %}
{% endfor %}
    }
{% endfor %}
{% endif %}
{% if 'confs' in item %}

{% for conf in item.confs %}
    {{ conf[0] }}{% if conf|length > 1 %}  {{ conf[1] }}{% endif %};
{% endfor %}
{% endif %}
{% if 'error_pages' in item %}
{% for error_page in item.error_pages %}

    error_page  {{ error_page.status_codes }}  {{ error_page.path }};
{% if 'location' in error_page %}
    location  {{ error_page.path }} {
        root  {{ error_page.location }};
        internal;
    }
{% endif %}
{% endfor %}
{% endif %}
{% if 'includes' in item %}

{% for include in item.includes %}
    include {{ include }};
{% endfor %}
{% endif %}
}
